@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



.poppins-thin {
    font-family: "Poppins", sans-serif;
}

.anton-regular {
    font-family: "Anton", sans-serif;
}





/* play-ground style ------------------------------------------------------------------------------- */

.play-ground {
    /* max-width: 1020px; */
    width: 100%;
    margin: auto;
}

.keyboard-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.button-outer {
    display: flex;
    justify-content: space-between;
}





/* large screen */
@media screen and (min-width: 1400px) {
    .play-ground {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .playground-display{
        width: 1000px;
        height: 400px;
        margin: auto;
    }
    .my-1 {
        font-size: 23px;
    }
}


/* laptop */
@media screen and (min-width: 1040px) and (max-width:1400px) {
    .play-ground {
        display: flex;
        justify-content: center;
    }

    .playground-display{
        width: 1000px;
        height: 50vh;
        margin: auto;
    }
}


/* tablate */
@media screen and (max-width:1040px) {
    .play-ground {
        width: 80%;
    }
    .playground-display{
        width: 100%;
        height: 300px;
        min-height: auto;
        margin: auto;
    }
}



/* mobile  */
@media screen and (max-width: 405px) {
    .play-ground {
        width: 100%;
    }
    .my-1 {
        font-size: 12px;
    }
    .screen-inner-p {
        display: none;
    }
    .screen-outer-p{
        display: inline-block;
        margin-bottom: 20px;
    }
}